{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load staticfiles %}


{# To Do: #}
{# 1. Create a proper Keyword Bar #}


{% block content %}
{% load staticfiles %}
<div class="left_column col-md-2"></div>
<div class="container col-md-8">
	<div class="jumbotron">
		<div class="row no-gutter">
		<center>
			<img src="{% static 'images/eventsahead2.png' %}" alt="Welcome to Events Ahead!">
		</center>
		</div>
	</div>
	<div class="jumbotron">
		{% if message %}
					<ul class="error"><li class="erroring">{{message}}</li></ul>
		{% endif %}
		<div class="row">
		{% crispy form %}
		</div>
	</div>	
</div>
<div class="right_column col-md-2"></div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script> $(function() {$( "#datepicker" ).datepicker();  }); </script>
{% endblock %}
