h1 {
	color: white;
	font-style: cursive italic;
}
html, body {
	height: 96%;
	margin-top: 2.5em;
	padding: 0;
}
#map {
	height: 88%; 
	width: 69%;  
	float: left;
	border: solid 1px black;
	margin-left: 0.5%;  
}
.eventInfo {
	background:rgba(255,255,255,0.9);
	border: solid 1px black;
}
.resultsText {
	margin-left: 135px;
}
.eventImage {
	float: left;
}
ul#buttonlist {
	list-style:none;
}
#results {
	float: right;
	width: 29%;
	height: 88%;
	overflow-y: auto;
	margin-right: 0.5%;
}
#searchButton {
	margin-bottom: 0.5ex;
	margin-left: 1ex;
}
#search {
    position: absolute;
    top: 8px;
    right: 16px;
    margin-top: 1.75ex;
}
li {
	list-style: none;
}